<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>New tab page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <div class="hello-box">
      <header>
        <img src="../public/puzzle.png" alt="A puzzle icon">
        <h1>Welcome to your extension</h1>
        <p class="description loading">Browser extensions are 🙌🙌🙌</p>
      </header>
      <p>
        This page is being watched, and so are all entries in manifest.json.
        Happy hacking!!
      </p>
    </div>
  </body>
  <script src="./newtab.js"></script>
</html>
