
.content_script-box {
  background: white;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 315px;
  height: 345px;
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0px 0px 4px 1px #ccc;
}

.content_script-logo {
  background: white;
  width: 90px;
  align-self: flex-start;
  border: 4px solid;
  border-color: #ccc;
  border-radius: 24px;
  filter: grayscale(1);
  transition: filter 2s, border-color 2s;
}

.content_script-logo:hover {
  filter: grayscale(0);
  border-color: aquamarine;
}

.content_script-title {
  font-size: 2.35em;
  color: #333;
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.content_script-description {
  color: #999;
}

.content_script-colorPicker {
  display: block;
  width: 100%;
  height: 50px;
}
