#extension-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section > div {
  padding: 10px;
}

button {
  background: black;
  color: white;
  width: 24px;
  height: 24px;
}