# ███████╗██╗  ██╗████████╗███████╗███╗   ██╗███████╗██╗ ██████╗ ███╗   ██╗
# ██╔════╝╚██╗██╔╝╚══██╔══╝██╔════╝████╗  ██║██╔════╝██║██╔═══██╗████╗  ██║
# █████╗   ╚███╔╝    ██║   █████╗  ██╔██╗ ██║███████╗██║██║   ██║██╔██╗ ██║
# ██╔══╝   ██╔██╗    ██║   ██╔══╝  ██║╚██╗██║╚════██║██║██║   ██║██║╚██╗██║
# ███████╗██╔╝ ██╗   ██║   ███████╗██║ ╚████║███████║██║╚██████╔╝██║ ╚████║
# ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝
#  ██████╗██████╗ ███████╗ █████╗ ████████╗███████╗
# ██╔════╝██╔══██╗██╔════╝██╔══██╗╚══██╔══╝██╔════╝
# ██║     ██████╔╝█████╗  ███████║   ██║   █████╗
# ██║     ██╔══██╗██╔══╝  ██╔══██║   ██║   ██╔══╝
# ╚██████╗██║  ██║███████╗██║  ██║   ██║   ███████╗
#  ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝

.eslintrc.js
dist
.extension_package
*.d.ts
*.spec.js
*.spec.ts
*.spec.tsx
*.spec.jsx
*.test.js
*.test.ts
*.test.tsx
*.test.jsx
**/spec/**/*
**/test/**/*
**/demo/**/*
packages/run-chrome-extension/extensions/*
packages/run-edge-extension/extensions/*
packages/run-firefox-extension/extensions/*
packages/run-brave-extension/extensions/*
packages/run-opera-extension/extensions/*
*.d.ts
types
__TEST__
__TESTS__
__test__
__tests__
**/copyTypesFolder.js
**/copyMarkdownFilesToCli.js
**/copyTailwindConfig.js
**/copyStylelintConfig.js
**/content.tsx
**/content.tsx
