# ███████╗██╗  ██╗████████╗███████╗███╗   ██╗███████╗██╗ ██████╗ ███╗   ██╗
# ██╔════╝╚██╗██╔╝╚══██╔══╝██╔════╝████╗  ██║██╔════╝██║██╔═══██╗████╗  ██║
# █████╗   ╚███╔╝    ██║   █████╗  ██╔██╗ ██║███████╗██║██║   ██║██╔██╗ ██║
# ██╔══╝   ██╔██╗    ██║   ██╔══╝  ██║╚██╗██║╚════██║██║██║   ██║██║╚██╗██║
# ███████╗██╔╝ ██╗   ██║   ███████╗██║ ╚████║███████║██║╚██████╔╝██║ ╚████║
# ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.test-output
*.d.ts.map
# *.d.ts

# dependencies
node_modules
.pnp
.pnp.js
 
# testing
coverage

# next.js
.next/
out/

# tsup
dist/

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel

# swc
.swc

# pnpm
pnpm-lock.yaml
.pnpm-store/

# examples
/examples/**/pnpm-lock.yaml
/examples/**/extension-env.d.ts

# tests
/test-results/
test-results.json
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e-report/
specs/

# test temp folders (generated during specs)
# ensure nested .tmp-* directories are ignored anywhere in the tree
.tmp-*/
**/.tmp-*/
**/.tmp-*/**

# vitest temp folders created by Extension.js specs (fs.mkdtempSync('tmp-extjs-...'))
tmp-extjs-*
**/tmp-extjs-*
templates/wasm/
programs/develop/webpack/plugin-extension/feature-html/html-lib/parse5-utilities

# Logs
logs
*.log
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Task files
# tasks.json
# tasks/ 
.taskmaster/
.cursor/

_future/
extensions/browser-extension/
templates/content-main-world/
