public-hoist-pattern[]=*
shamefully-hoist=true
link-workspace-packages=false
save-workspace-protocol=false
save-prefix=''
auto-install-peers=true
strict-peer-dependencies=false

# Prevent examples from being included in dependencies
ignore-workspace-root-check=true
ignore-patterns[]=examples/*
ignore-patterns[]=templates/*
