body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 26px);
}

h1 {
  font-size: 4.7em;
}

.preact {
  animation: shake 0.5s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
