body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 2em;
}

h1 {
  font-size: 2.7em;
}

.action {
  filter: grayscale(1);
  transition:
    filter 2s,
    border-color 2s;
}

.action:hover {
  filter: grayscale(0);
  border-color: aquamarine;
}
