@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white font-sans;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 