<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TypeScript Extension</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="./styles.css" media="screen" />
  </head>
  <body>
    <header>
      <h1>
        <img class="typescript" src="../images/typescript.png" alt="The TypeScript logo" width="120px" />
        <br />
        Welcome to your TypeScript Extension.
      </h1>
      <p>
        Learn more about creating browser extensions at 
        <a href="https://extension.js.org" target="_blank">https://extension.js.org</a>.
      </p>
    </header>
  </body>
  <script src="./scripts.ts"></script>
</html>
