body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.7em;
}

.typescript {
	transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.typescript:hover {
  transform: scale(1.5);
}
