.content_script-box {
  background: white;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 315px;
  height: 345px;
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0px 0px 4px 1px #ccc;
}

.content_script-logo {
  width: 90px;
  align-self: flex-start;
  filter: grayscale(1);
  transition: filter 2s;
}

.content_script-logo:hover {
  filter: grayscale(0);
}

.content_script-title {
  text-align: left;
  font-size: 1.85em;
  color: #333;
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.content_script-description {
  color: #999;
}
