body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 26px);
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  align-items: center;
  gap: 2.5rem;
  height: 5rem;
  margin-bottom: 5rem;
}

#root {
  width: 100%;
  padding: 1rem;
  min-height: 60rem;
}

h1 {
  font-size: 4.7em;
}

.react {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
