#extension-root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 400px;
  height: 250px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}

h1,
h2 {
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section>div {
  padding: 10px;
}

button {
  background: black;
  color: white;
  width: 24px;
  height: 24px;
}