body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

h1 {
  font-size: 2.7em;
}

.action {
  border-radius: 24px;
  border: 4px solid;
  background: white;
  border-color: #ccc;
  border-radius: 24px;
  filter: grayscale(1);
  transition:
    filter 2s,
    border-color 2s;
}

.action:hover {
  filter: grayscale(0);
  border-color: aquamarine;
}
