.content_script {
  --content-margin: 1rem;
  --content-bg: #0a0c10;
  --content-text: #c9c9c9;
  --content-link: #e5e7eb;
  --content-border: #c9c9c9;
  color: var(--content-text);
  background-color: var(--content-bg);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 280px;
  margin: var(--content-margin);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 6px;
  z-index: 9999;
}

.content_logo {
  width: 72px;
  margin-bottom: 0;
}

.content_title {
  font-size: 1.5em;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 700;
  margin: 0;
}

.content_description {
  font-size: small;
  margin: 0;
}

.content_description a {
  text-decoration: none;
  border-bottom: 2px solid var(--content-border);
  color: var(--content-link);
  margin: 0;
}
