body {
  background: #00214d;
  width: 300px;
  height: 300px;
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  color: #27FBB7;
  margin: auto;
}

div {
  font-size: 4rem;
}