body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 26px);
}

h1 {
  font-size: 4.7em;
}

.vue {
  animation: heartbeat 1s linear infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.9);
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
