body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 26px);
}

h1 {
  font-size: 4.7em;
}

.react {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}