#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rotate {
  animation: rotate 5s linear infinite; 
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

h1 {
  font-size: 4.7em;
}